<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="#" />
    <script src="/js/card.js" defer></script>
    <title>작업 관리</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="d-flex align-items-center mb-4">
            <h1 id="taskName">작업 관리</h1>
            <div id="taskColor" style="width: 50px; height: 50px; background-color: blue"></div>
          </div>
          <h3>작업 세부 정보</h3>
          <div class="d-flex">
            <h5 class="me-3">기간</h5>
            <div class="mb-3">
              <p class="form-control-static" id="taskStartDate" value="taskStartDate">2023-08-10</p>
              <p class="form-control-static" id="taskDueDate" value="taskDueDate">2023-08-15</p>
            </div>
          </div>

          <form id="taskForm">
            <div class="mb-3 border p-3 rounded">
              <p class="form-control-static" id="taskDescription">작업 설명이 여기에 들어갑니다.</p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form>
            <h3>작업자 초대</h3>
            <div
              class="mb-3 position-relative"
              style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)"
            >
              <div class="form-control" id="commentText" style="padding: 80px">
                <input type="text" class="inviteInput" />
              </div>
              <button
                type="inviteButton"
                class="btn btn-light position-absolute top-50 start-0 translate-middle-y ms-2"
              >
                초대
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3>댓글</h3>
          <!-- 댓글 목록 -->
          <div class="border p-3 mb-3">
            <p>
              사용자1: 댓글 내용입니다.
              <button class="btn btn-link">수정</button>
              <button class="btn btn-link">삭제</button>
            </p>
          </div>
          <div class="border p-3 mb-3">
            <p>
              사용자2: 다른 댓글 내용입니다.
              <button class="btn btn-link">수정</button>
              <button class="btn btn-link">삭제</button>
            </p>
          </div>
          <!-- 새로운 댓글 추가하려면 위와 같은 구조를 반복합니다. -->
        </div>
      </div>
    </div>
  </body>
</html>
