<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <script src="/js/column.js" defer></script> -->
  <link rel="stylesheet" href="/css/column.css" />
  <title>Trello Board</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</head>

<body>

  <div id="columns-container" class="columns-container"></div>

  <div class="create-column-form">
    <form id="create-column-form">
      <input type="text" id="column-name" placeholder="Enter column name" />
      <button type="submit">Create Column</button>
    </form>
  </div>

  <div class="delete-column-form">
    <form id="delete-column-form">
      <input type="text" id="column-id" placeholder="Enter column ID to delete" />
      <button type="submit">Delete Column</button>
    </form>
  </div>




  <script src="column.js"></script>
</body>

</html>